$main: #000;

$text: #333;
$med: #666;
$lite: #999;

$header: #333;

$link: #000;
$hover: #666;

$border: #ccc;

$button: $link;
$buttonHover: $hover;

$error: #f00;

$helv: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$arial: Arial, 'Helvetica Neue', Helvetica, sans-serif;



// BASE
// -----------------------------------------------
body,
input,
select,
textarea {font: 16px/20px $helv; color: $text;}

a {color: $link; text-decoration: none;}
a:hover {color: $hover;}

p {margin: 0 0 20px;}

h1 {font: 30px/36px $helv; color: $header; margin: 0 0 10px;}
h2 {font: 24px/28px $helv; color: $header; margin: 0 0 10px;}
h3 {font: bold 18px/22px $helv; color: $header; margin: 0 0 10px;}
h4 {font: bold 16px/20px $helv; color: $header; margin: 0 0 10px;}
h5 {font: bold 14px/18px $helv; color: $header; margin: 0 0 10px;}
h6 {font: bold 12px/14px $helv; color: $header; margin: 0 0 10px;}

ol,
ul {margin: 0 0 20px 20px; padding: 0 0 0 20px;}

hr,
.hr {height: 1px; margin: 20px 0; color: $border; background: $border; overflow: hidden; border: 0; display: block;}



// COMMON
// // -----------------------------------------------
a {cursor: pointer;}
img {margin: 0; padding: 0; border: 0; vertical-align: top;}
video,
object,
iframe {margin: 0; padding: 0; border: 0; outline: 0; vertical-align: top;}



// ICONS
// -----------------------------------------------
// icon
.icon {width: 20px; height: 20px; position: relative; background-repeat: no-repeat; display: block;}
.icon-hover {background-position: 0 -100px;}



// SHARED
// -----------------------------------------------
// clear
.clear:before,
.clear:after {content: ''; display: table; border-collapse: collapse;}
.clear:after {clear: both;}
.clear {min-height: 0;}

// cols
.cols {@extend .clear;}
.col {float: left;}

// br
.br {height: 0; overflow: hidden; clear: both; display: block;}

// away
.away {left: -9999px; top: -9999px; position: absolute;}

// hidden
.hidden {display: none;}

// invis
.invis {visibility: hidden;}

// nl
.nl {margin: 0; padding: 0; list-style: none outside none; background: none; display: block;}

// dib
.dib {display: inline-block; vertical-align: top;}

// bbox
.bbox {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}



// TABLES
// -----------------------------------------------
table {border-spacing: 0; border-collapse: collapse;}
td,
th {padding: 0;}



// FORMS
// -----------------------------------------------
// submit
.submit {@extend .clear; position: relative;}

// tinput
.tinput {text-align: left; position: relative;
    textarea {overflow: auto; resize: none;}
    input,
    textarea {@extend .dib; @extend .bbox; width: 100%; margin: 0; padding: 0; position: relative; outline: none; border: 0; background: #fff;}
    input,
    textarea {font: 16px/20px $arial; color: $text; padding: 4px 9px; border: 1px solid $border;}
    textarea {height: 120px;}
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {}
    input::-moz-placeholder,
    textarea::-moz-placeholder {}
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {}
    input.error,
    textarea.error {color: $error; border-color: $error;}
    input.error::-webkit-input-placeholder,
    textarea.error::-webkit-input-placeholder {}
    input.error::-moz-placeholder,
    textarea.error::-moz-placeholder {}
    input.error:-ms-input-placeholder,
    textarea.error:-ms-input-placeholder {}
    input:disabled,
    textarea:disabled {}
}
.tinput.locked {
    input,
    textarea {padding-right: 50px;}
    .lock {display: block;}
}

// finput
.finput {overflow: hidden; position: relative;
    input {font: 1000px serif; margin: 0; padding: 0; right: 0; top: 0; position: absolute; z-index: 10; cursor: pointer; outline: 0; border: 0; opacity: 0; display: block;}
}

// check
.check {position: relative;
    label {@extend .dib; cursor: pointer;}
    input {margin: 0; padding: 0; left: 0; top: 2px; position: absolute; cursor: pointer;}
    .text {padding-left: 20px;}
}
.check.disabled {color: $lite;
    label {cursor: default;}
}

// radio
.radio {position: relative;
    label {@extend .dib; padding-left: 30px; cursor: pointer;}
    input {margin: 0; padding: 0; left: 0; top: 2px; position: absolute; cursor: pointer;}
}

// select
.select {text-align: left; height: 40px; position: relative;
    select {@extend .bbox; width: 100%; border: 0;}
}

// button
.button {@extend .clear; text-align: left; position: relative;
    button::-moz-focus-inner {padding: 0; border: 0;}
    a,
    button {@extend .dib; @extend .bbox; white-space: nowrap; text-align: center; overflow: visible; margin: 0; padding: 0; position: relative; cursor: pointer; outline: 0; border: 0; background: #000;}
    a,
    button {font: 14px/40px $helv; color: #fff; text-transform: uppercase; padding: 0 20px; background: $button;}
    a:hover,
    button:hover {background: $buttonHover;}
    button:disabled {}
}



// LAYOUT
// -----------------------------------------------
html,
body {height: 100%; min-width: 980px; margin: 0; padding: 0;}
body {background: #fff;}



// MODULES
// -----------------------------------------------

// slider
.slider {width: 100%; height: 100%; left: 0; top: 0; position: absolute;
    .list {width: 100%; height: 100%; overflow: hidden; left: 0; top: 0; position: absolute;}
    .li {width: 100%; height: 100%; left: 0%; top: 0%; position: absolute; z-index: 2; background: #fff; display: none;
        .wrap {width: 100%; height: 100%; left: 0; top: 0; position: absolute; display: table;}
        .content {display: table-cell; vertical-align: middle;}
        .image {text-align: center;
            img {height: 500px; width: auto;}
        }
        .text {width: 500px; margin: 20px auto 0;}
        .title {@extend h3;}
        .descr {}
    }
    .li.act {z-index: 1; display: block;}
    .prev,
    .next {width: 25%; height: 100%; top: 0; position: absolute; z-index: 10; cursor: pointer;
        .icon {width: 40px; height: 40px; margin: -20px 0 0 -20px; left: 50%; top: 50%; display: none;}
    }
    .prev:hover,
    .next:hover {
        .icon {display: block;}
    }
    .prev {left: 0;
        .icon {background-image: url(../img/slider/prev.png);}
    }
    .next {right: 0;
        .icon {background-image: url(../img/slider/next.png);}
    }
    .count {font-size: 20px; line-height: 60px; color: #fff; text-align: center; width: 200px; margin-left: -100px; left: 50%; bottom: 0; position: absolute; z-index: 20; background: #000;}
    .effect {text-align: center; width: 200px; margin-left: -100px; padding: 10px 0; left: 50%; top: 0; position: absolute; z-index: 20; background: #000;
        select {width: 180px;}
    }
}

// slide-form
.slide-form {@extend .clear; width: 600px; margin: 20px auto 40px;
    .tinput {margin-bottom: 20px;
        textarea {height: 200px;}
    }
    .button {float: right;}
}

// slide-list
.slide-list {width: 600px; margin: 20px auto 40px;
    .li {@extend .clear; margin-bottom: 20px;}
    .image {width: 120px; float: left;
        img {width: 100%; height: auto;}
    }
    .text {width: 460px; margin-left: 20px; float: left;}
    .title {@extend h3;}
    .descr {}
}
