body, input, select, textarea { font: 16px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; color: #333333; }

a { color: black; text-decoration: none; }

a:hover { color: #666666; }

p { margin: 0 0 20px; }

h1 { font: 30px/36px "Helvetica Neue", Helvetica, Arial, sans-serif; color: #333333; margin: 0 0 10px; }

h2 { font: 24px/28px "Helvetica Neue", Helvetica, Arial, sans-serif; color: #333333; margin: 0 0 10px; }

h3, .slider .li .title, .slide-list .title { font: bold 18px/22px "Helvetica Neue", Helvetica, Arial, sans-serif; color: #333333; margin: 0 0 10px; }

h4 { font: bold 16px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; color: #333333; margin: 0 0 10px; }

h5 { font: bold 14px/18px "Helvetica Neue", Helvetica, Arial, sans-serif; color: #333333; margin: 0 0 10px; }

h6 { font: bold 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif; color: #333333; margin: 0 0 10px; }

ol, ul { margin: 0 0 20px 20px; padding: 0 0 0 20px; }

hr, .hr { height: 1px; margin: 20px 0; color: #cccccc; background: #cccccc; overflow: hidden; border: 0; display: block; }

a { cursor: pointer; }

img { margin: 0; padding: 0; border: 0; vertical-align: top; }

video, object, iframe { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: top; }

.icon { width: 20px; height: 20px; position: relative; background-repeat: no-repeat; display: block; }

.icon-hover { background-position: 0 -100px; }

.clear:before, .cols:before, .submit:before, .button:before, .slide-form:before, .slide-list .li:before, .clear:after, .cols:after, .submit:after, .button:after, .slide-form:after, .slide-list .li:after { content: ''; display: table; border-collapse: collapse; }

.clear:after, .cols:after, .submit:after, .button:after, .slide-form:after, .slide-list .li:after { clear: both; }

.clear, .cols, .submit, .button, .slide-form, .slide-list .li { min-height: 0; }

.col { float: left; }

.br { height: 0; overflow: hidden; clear: both; display: block; }

.away { left: -9999px; top: -9999px; position: absolute; }

.hidden { display: none; }

.invis { visibility: hidden; }

.nl { margin: 0; padding: 0; list-style: none outside none; background: none; display: block; }

.dib, .tinput input, .tinput textarea, .check label, .radio label, .button a, .button button { display: inline-block; vertical-align: top; }

.bbox, .tinput input, .tinput textarea, .select select, .button a, .button button { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

table { border-spacing: 0; border-collapse: collapse; }

td, th { padding: 0; }

.submit { position: relative; }

.tinput { text-align: left; position: relative; }
.tinput textarea { overflow: auto; resize: none; }
.tinput input, .tinput textarea { width: 100%; margin: 0; padding: 0; position: relative; outline: none; border: 0; background: #fff; }
.tinput input, .tinput textarea { font: 16px/20px Arial, "Helvetica Neue", Helvetica, sans-serif; color: #333333; padding: 4px 9px; border: 1px solid #cccccc; }
.tinput textarea { height: 120px; }
.tinput input.error, .tinput textarea.error { color: red; border-color: red; }

.tinput.locked input, .tinput.locked textarea { padding-right: 50px; }
.tinput.locked .lock { display: block; }

.finput { overflow: hidden; position: relative; }
.finput input { font: 1000px serif; margin: 0; padding: 0; right: 0; top: 0; position: absolute; z-index: 10; cursor: pointer; outline: 0; border: 0; opacity: 0; display: block; }

.check { position: relative; }
.check label { cursor: pointer; }
.check input { margin: 0; padding: 0; left: 0; top: 2px; position: absolute; cursor: pointer; }
.check .text { padding-left: 20px; }

.check.disabled { color: #999999; }
.check.disabled label { cursor: default; }

.radio { position: relative; }
.radio label { padding-left: 30px; cursor: pointer; }
.radio input { margin: 0; padding: 0; left: 0; top: 2px; position: absolute; cursor: pointer; }

.select { text-align: left; height: 40px; position: relative; }
.select select { width: 100%; border: 0; }

.button { text-align: left; position: relative; }
.button button::-moz-focus-inner { padding: 0; border: 0; }
.button a, .button button { white-space: nowrap; text-align: center; overflow: visible; margin: 0; padding: 0; position: relative; cursor: pointer; outline: 0; border: 0; background: #000; }
.button a, .button button { font: 14px/40px "Helvetica Neue", Helvetica, Arial, sans-serif; color: #fff; text-transform: uppercase; padding: 0 20px; background: black; }
.button a:hover, .button button:hover { background: #666666; }

html, body { height: 100%; min-width: 980px; margin: 0; padding: 0; }

body { background: #fff; }

.slider { width: 100%; height: 100%; left: 0; top: 0; position: absolute; }
.slider .list { width: 100%; height: 100%; overflow: hidden; left: 0; top: 0; position: absolute; }
.slider .li { width: 100%; height: 100%; left: 0%; top: 0%; position: absolute; z-index: 2; background: #fff; display: none; }
.slider .li .wrap { width: 100%; height: 100%; left: 0; top: 0; position: absolute; display: table; }
.slider .li .content { display: table-cell; vertical-align: middle; }
.slider .li .image { text-align: center; }
.slider .li .image img { height: 500px; width: auto; }
.slider .li .text { width: 500px; margin: 20px auto 0; }
.slider .li.act { z-index: 1; display: block; }
.slider .prev, .slider .next { width: 25%; height: 100%; top: 0; position: absolute; z-index: 10; cursor: pointer; }
.slider .prev .icon, .slider .next .icon { width: 40px; height: 40px; margin: -20px 0 0 -20px; left: 50%; top: 50%; display: none; }
.slider .prev:hover .icon, .slider .next:hover .icon { display: block; }
.slider .prev { left: 0; }
.slider .prev .icon { background-image: url(../img/slider/prev.png); }
.slider .next { right: 0; }
.slider .next .icon { background-image: url(../img/slider/next.png); }
.slider .count { font-size: 20px; line-height: 60px; color: #fff; text-align: center; width: 200px; margin-left: -100px; left: 50%; bottom: 0; position: absolute; z-index: 20; background: #000; }
.slider .effect { text-align: center; width: 200px; margin-left: -100px; padding: 10px 0; left: 50%; top: 0; position: absolute; z-index: 20; background: #000; }
.slider .effect select { width: 180px; }

.slide-form { width: 600px; margin: 20px auto 40px; }
.slide-form .tinput { margin-bottom: 20px; }
.slide-form .tinput textarea { height: 200px; }
.slide-form .button { float: right; }

.slide-list { width: 600px; margin: 20px auto 40px; }
.slide-list .li { margin-bottom: 20px; }
.slide-list .image { width: 120px; float: left; }
.slide-list .image img { width: 100%; height: auto; }
.slide-list .text { width: 460px; margin-left: 20px; float: left; }
